/* General Styles */

:root {
  color-scheme: dark;
}

body {
  font-family: Arial, sans-serif;
  background-color: #313439 !important;
  color: #fff!important;
  overflow-x: hidden;
}

.banner {
  width: 100%;
  max-width: 1000px; 
  margin: 0 auto; 
  align-self: center;
}
    
p {
  font-size: medium;
  padding-top: 1%;
  margin: auto;
}

/* Table Styles */

thead th,
td:nth-child(2) {
  text-align: center;
}

div,
.transparent { 
  width: 100%;
}

/* Dropdown Styles */

.dropdown-menu{
  background-color: #313439 !important;
  align-items: center !important;
  max-width: 160px !important;
}

.dropdown-item{
  width: 100% !important;
  align-items: center !important;
  max-width: 160px !important;
}

/* The transparent class is here for if I add any placeholder fields */
.transparent { 
  background-color: transparent !important;
  border-color: transparent !important;
  text-align: center;
}

.dropdown-menu{
  background-color: #313439 !important;
  align-items: center !important;
  max-width: 160px !important;
}

/* Button Styles */

.logo a:hover {
  text-decoration: none !important;
  color: #ccc !important;
}

button {
  background-color: transparent;
  border: transparent;
}

.buttons button {
  margin-right: 10px;
  align-self: center;
}

.buttons {
  display: flex;
  justify-content: center;
  width: 100vw; /* Set the width to 100% of the viewport width */
}

.buttons button {
  margin: 0 5px; /* Adjust the margin between buttons as needed */
}

.btn-secondary {
  background-color: #30363c !important;
  border-color: #565656 !important;
}

.btn-secondary:hover {
  background-color: #434a50 !important;
}

.btn-secondary:hover {
  background-color: #434a50 !important; /* Adjust the background color on hover */
}

.dropdown-item:hover {
  background-color: #43494E !important;
}

.delete {
  font-size: 20px !important;
  position: relative !important;
  top: 50% !important;
  transform: translateY(25%) !important;
}


/* Header CSS */

header {
  background-color: #343A40;
  padding: 20px 0;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  max-width: 150px;
  color: white;
  font-size: 20px; 
  cursor: pointer; 
  text-decoration: none;
}

.logo:hover {
color: #ccc !important; 
text-decoration: none;
}

.subtitle {
  font-size: 16px;
  color: white;
  flex-grow: 1;
  text-align: center;
}

/* Navigation Styles */

nav ul {
  font-size: 16px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

nav ul li {
  margin-left: 20px;
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

nav ul li a:hover {
  text-decoration: none;
}

li{
  cursor: pointer;
}

li:hover {
  color: #ccc !important; 
  }

.static{
  cursor:default
}

.static:hover {
  color: white;
  }

#faqs:hover {
    color: #ccc !important;
  }

/* Footer Styles */

footer {
  background-color: #343A40;
  padding: 20px 0;
  margin-top: 20px;
  text-align: center;
  width: 100vw; /* Set the width to 100% of the viewport width */

}

footer p {
  font-size: 14px;
  color: #fff; 
}

span {
  width: 100%;
}

/* Miscellaneous */

.center-span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.static {
  cursor: default;
}

.static:hover {
  color: white;
}

.subtitle {
  font-size: 16px;
  color: white;
  flex-grow: 1;
  text-align: center;
}

span {
  width: 100%;
}

.light-link {
  color:lightblue
}

.light-link:hover{
    color:lightblue
  }

/* Sections Styles */

#about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  min-width: 80%;
  max-width: 100%;
  text-align: justify;
}

#about-section p {
  font-size: 16px;
  text-align: center;
}

#faq-section h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: white;
}

#faq-section {
  margin: 0 auto;
  max-width: 800px;
  font-size: 16px;
  padding-left: 200px;
  padding-right: 200px;
  margin-bottom: 30px;
  padding: 15px;
  border-radius: 5px;
  text-align: justify;
}

#faq-section a:hover {
  text-decoration: underline;
}

.question{
  background-color: #343A40;
  padding: 3%;
}

/* List Styles */

li {
  list-style-type: none;
}

/* Interaction Styles */

.delete:hover,
#about:hover,
#about:hover a,
#faqs:hover,
#faqs:hover a {
  color: #ccc !important;
}

@media only screen and (max-width: 767px) {
  .banner {
    padding: 0 10px; 
  }
  
  .container {
    flex-direction: column;
    text-align: center; 
  }
  
  .logo {
    margin-bottom: 10px; 
  }
  
  .buttons {
    margin-top: 20px; 
  }
  
  .buttons button {
    width: 120px; /* Adjust the width as needed */
    height: 60px; /* Adjust the height as needed */
  }
  
  footer {
    padding: 20px;
    text-align: center;
    width: 100vw; /* Set the width to 100% of the viewport width */

  }
  
  #about-section {
    min-width: auto; 
    padding: 0 10px; 
  }
  
  #faq-section {
    padding: 0 10px;
  }

  .subtitle {
    display: none;
  }
}