body
    {
    	background:#313e4b !important;
    }

header
    {
      padding: 1%;
      color: aliceblue;
      font-size: larger;
      font-weight:500
    }

table
    {
      border: none !important;
      border-radius: 5px !important;
    }

