body
    {
    	background:#2c343b !important;
    }

header
    {
      text-align: center;
      padding: 1%;
      color: aliceblue;
      font-size:50%;
      font-weight:500;
    }

div
    {
    width: 100%;
    }

img
    {
     padding-right: 1%;
    }

table 
    {
      width: ;
      border-collapse: separate;
      border-radius: 10px !important;
      border-spacing: 50px !important;
      padding: 0 50px 0 50px !important;
    }